<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>index</title>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <!-- <meta name="mobile-agent" content="format=html5;url=www.baidu.com"> -->
  <meta name="mobile-agent" content="format=html5; url=http://www.baidu.com">
  <link rel="alternate" media="only screen and(max-width=640px)" href="http://www.baidu.com" />
  <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
  <!-- <script src="main.js"></script> -->
</head>

<body>
  This is index page!
  <h1>koa2 request post demo</h1>
  <form method="POST" action="/">
    <p>userName</p>
    <input name="userName" />
    <br/>
    <p>nickName</p>
    <input name="nickName" />
    <br/>
    <p>email</p>
    <input name="email" />
    <br/>
    <button type="submit">submit</button>
  </form>
</body>

</html>